name: CI

on: [ "push", "pull_request" ]

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 6.x

      - name: Run the Cake script
        uses: cake-build/cake-action@v1
        with:
          verbosity: Diagnostic

      - uses: actions/upload-artifact@v3
        with:
          name: Neuro-Full.dll
          path: Neuro/bin/ReleaseFull/Neuro.dll

      - uses: actions/upload-artifact@v3
        with:
          name: Neuro-DataCollection.dll
          path: Neuro/bin/ReleaseDataCollection/Neuro.dll
